---
import github from "../assets/icons/github.svg";
import linkedin from "../assets/icons/linkedin.svg";
import instagram from "../assets/icons/instagram.svg";
import gmail from "../assets/icons/gmail.svg";
import discord from "../assets/icons/discord.svg";
import mapPin from "../assets/icons/map-pin.svg";
import Heading from "./Heading.astro";
import ContactForm from "./react/ContactForm";

const socials = [
  {
    name: "linkedin",
    label: "juan-andres-felice-isturiz",
    link: "https://www.linkedin.com/in/juan-andres-felice-isturiz-007725243/",
    icon: linkedin.src,
  },
  {
    name: "github",
    label: "JuanIsturiz",
    link: "https://github.com/JuanIsturiz",
    icon: github.src,
  },
  {
    name: "mail",
    label: "juanandresisturiz@gmail.com",
    link: "mailto:juanandresisturiz@gmail.com",
    icon: gmail.src,
  },
  {
    name: "instagram",
    label: "juanisturiz_",
    link: "https://www.instagram.com/juanisturiz_/",
    icon: instagram.src,
  },
  {
    name: "discord",
    label: "juuuaaaaaann",
    link: "https://discordapp.com/users/319951171995303937",
    icon: discord.src,
  },
];
---

<section id="contact" class="min-h-screen p-2 pt-12 lg:pt-4 md:px-4 lg:px-8">
  <Heading title="Contact" subtitle="Reach out to me!" />
  <div
    class="grid gap-8 md:grid-cols-2 w-full max-w-7xl mx-auto p-2 border-2 border-gray-500 rounded shadow-lg shadow-gray-500 bg-[url('/img/contact-bg.svg')] bg-cover"
  >
    <!-- text -->
    <div>
      <div class="mb-4">
        <h5 class="text-xl font-medium mb-2 tracking-tighter">
          Thank you for reaching this far into the website!!
        </h5>
        <p class="font-medium text-gray-800">
          In addition to the above, I'm also a fast learner, patient, constant
          and very preseverant person, good at finding solutions and well
          performed working with a team, always trying to learn new abilities to
          improve myself as a professional.
        </p>
      </div>
      <div class="mb-4">
        <div class="flex items-center gap-1">
          <img
            src={mapPin.src}
            alt="Map pin icon"
            width={32}
            height={32}
            class="w-8"
          />
          <span class="text-xl tracking-tighter">Venezuela</span>
        </div>
      </div>
      <h6 class="text-2xl font-medium mb-2 tracking-tighter">Socials</h6>
      <div
        class="mb-8 flex lg:grid gap-x-4 lg:grid-cols-[2fr_1.25fr] xl:lg:grid-cols-2 lg:gap-x-10 lg:gap-y-4"
      >
        {
          socials.map((social) => (
            <div>
              <a
                href={social.link}
                target="_blank"
                aria-label={`Link ${social.name} profile`}
                class="group md:inline-flex md:items-center md:gap-2 opacity-90 transition-all hover:opacity-100 hover:translate-y-1 lg:hover:translate-y-0 lg:hover:translate-x-1"
              >
                <img
                  src={social.icon}
                  alt="Social media icon"
                  width={24}
                  height={24}
                  class="cursor-pointer w-8 lg:w-6 shadow-md shadow-gray-500 rounded-lg"
                />
                <span class="hidden lg:block transition-all group-hover:font-bold">
                  {social.label}
                </span>
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <!-- form -->
    <div>
      <h5 class="text-xl font-medium mb-2 tracking-tighter">Get in touch!</h5>
      <ContactForm client:load />
    </div>
  </div>
</section>
