---
interface Project {
  id: number;
  name: string;
  description: string;
  tags: string[];
  links: {
    live: string;
    code: string;
  };
}

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="relative group h-56 shadow-md shadow-gray-400">
  <!-- default -->
  <div
    class="absolute z-[20] left-0 top-0 w-full h-full grid place-content-center bg-[url('/img/project-bg.svg')] bg-center bg-cover transition-opacity duration-200 group-hover:opacity-10 group-hover:text-zinc-700"
  >
    <h6 class="text-2xl font-bold tracking-tighter text-center">
      {project.name}
    </h6>
  </div>
  <!-- hovered -->
  <div
    class="relative z-[10] left-0 top-0 w-full h-full opacity-0 bg-zinc-900 text-white px-4 py-6 transition-opacity duration-200 group-hover:opacity-90"
  >
    <h5 class="text-2xl font-light tracking-tighter">
      {project.name}
    </h5>
    <p class="mt-1 mb-6 font-light text-zinc-300 tracking-tighter leading-5">
      {project.description}
    </p>
    <div class="flex gap-x-2 gap-y-1 flex-wrap">
      {
        project.tags.map((tag) => (
          <div>
            <span class="text-xs py-0.5 px-1 bg-black rounded">{tag}</span>
          </div>
        ))
      }
    </div>
  </div>
  <!-- links -->
  <div
    class="absolute z-[30] right-2 bottom-2 flex gap-2 transition-opacity opacity-0 duration-200 group-hover:opacity-100"
  >
    <a
      href={project.links.live}
      class="cursor-pointer w-14 text-sm text-center py-1 px-2 text-white bg-zinc-950 rounded transition-all hover:bg-zinc-300 hover:text-black hover:scale-105 hover:font-semibold"
    >
      Live</a
    >
    <a
      href={project.links.code}
      class="cursor-pointer w-14 text-sm text-center py-1 px-2 text-white bg-zinc-950 rounded transition-all hover:bg-zinc-300 hover:text-black hover:scale-105 hover:font-semibold"
      >Code</a
    >
  </div>
</div>
