---
import TechList from "./TechList.astro";
import stack from "../assets/stack.svg";
import Heading from "./Heading.astro";

const lang = ["javascript", "typescript", "PHP", "Astro"];
const tech = [
  "React",
  "React Native",
  "Next.js",
  "Node.js",
  "Express.js",
  "Redux",
  "tailwindcss",
  "Styled Comp.",
  "React Query",
  "Chakra UI",
  "Mantine UI",
  "shadcn/ui",
  "tRPC",
  "zod",
  "Prisma",
  "Mongoose",
  "typeORM",
  "Sequelize",
  "Laravel",
];
const other = [
  "HTML",
  "CSS/SCSS",
  "JWT",
  "GIT",
  "Docker",
  "Figma",
  "Vercel",
  "Netlify",
];
const db = ["PostgreSQL", "MongoDB", "mySQL", "Supabase", "PlanetScale"];
---

<section id="stack" class="relative min-h-screen p-4 pt-12 lg:pt-4">
  <div class="relative z-20">
    <Heading title="My Stack" subtitle="Languages & Technologies" />
    <div
      class="border-2 border-gray-600 rounded max-w-3xl mx-auto p-2 bg-white shadow-lg shadow-gray-500"
    >
      <TechList title="Languages" list={lang} />
      <TechList title="Technologies" list={tech} />
      <TechList title="Databases" list={db} />
      <TechList title="Other" list={other} />
    </div>
  </div>
  <img
    src={stack.src}
    alt="Stack background image"
    class="absolute z-10 right-0 bottom-0"
  />
</section>
